html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat',sans-serif;
    background: url('https://images.pexels.com/photos/8305319/pexels-photo-8305319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* .navbar{
 right: -200px;
} */

hr{
    border-color: white;
    border-width: 3px;
    /* margin-top: 30px; */
    max-width: 30px;
}

.start_h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.btn-xl{
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 250px;
    text-transform: uppercase;
}

.btn-xl:hover{
    background-color: purple;
    border-color:purple ;
}
